# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Dev
vigixporter
docker/vigixporter_alpine
output.log
vigixporter_state.json

# Debian package
debian/files
debian/vigixporter/
debian/vigixporter.substvars
debian/vigixporter.debhelper.log
debian/vigixporter.*.debhelper
debian/debhelper-build-stamp
