Source: vigixporter
Maintainer: Hekmon <edouardhur@gmail.com>
Build-Depends: debhelper (>= 9),
               dh-systemd,

Package: vigixporter
Architecture: amd64
Pre-Depends: dpkg (>= 1.16.1)
Depends: adduser
Homepage: https://github.com/hekmon/vigixporter
Description: Extract hubeau data and push them to victoria metrics
